<!DOCTYPE html>
<html>
  <head>
    <title>CIVIC API client</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="{{ url_for('static', filename='sorttable.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}"/>
  </head>
  <body>
    <div class="variants_table">
    <table class="sortable">
        <tr>
            <th>Error Type</th>
            <th>Variant ID</th>
            <th>Name</th>
            <th>Gene name</th>
            <th>Ref base</th>
            <th>Variant base</th>
            <th>Chromosome</th>
            <th>Start</th>
            <th>Stop</th>
            <th>Rep. Transcript</th>
            <th>Chromosome2</th>
            <th>Start2</th>
            <th>Stop2</th>
            <th>Rep. Transcript2</th>
            <th>URL</th>
        </tr>
    {% for variant_details in filtered_variant_details %}
        <tr>
            <td> {{variant_details.error_str}} </td>
            <td> {{variant_details.id}} </td>
            <td> {{variant_details.name}} </td>
            <td> {{variant_details.gene_name}} </td>
            <td> {{variant_details.ref_base}} </td>
            <td> {{variant_details.var_base}} </td>
            <td> {{variant_details.coordinates['chromosome']}} </td>
            <td> {{variant_details.coordinates['start']}} </td>
            <td> {{variant_details.coordinates['stop']}} </td>
            <td> {{variant_details.coordinates['representative_transcript']}} </td>
            <td> {{variant_details.coordinates['chromosome2']}} </td>
            <td> {{variant_details.coordinates['start2']}} </td>
            <td> {{variant_details.coordinates['stop2']}} </td>
            <td> {{variant_details.coordinates['representative_transcript2']}} </td>
            <td> <a href={{variant_details.civic_url}}> {{variant_details.civic_url}} </a> </td>
            {% else %}
            <td> "NA" </td>
            <td> {{variant_details['id']}} </td>
            <td> "NA" </td>
            <td> "NA" </td>
            <td> "NA" </td>
            <td> "NA" </td>
            <td> "NA" </td>
            <td> "NA" </td>
            <td> "NA" </td>
            <td> "NA" </td>
            <td> "NA" </td>
            <td> "NA" </td>
            <td> "NA" </td>
            <td> "NA" </td>
            <td> "NA" </td>
        </tr>
    {% endfor %}
    </table>
    </div>

    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
